.calendar{
          background:$grey;text-align:center;padding:5% 0;
          h2{
            font-size:50px;
            @media(max-width:1000px){
                font-size:29px;
            }
           
        }
     
        hr{
         width: 10%;border: none;height: 3px;background: rgb(0, 0, 0);margin: 3% auto;
         @media(max-width:767px){
             margin:0 auto 20px;
         }
        }
          .col-md-6{
              height:550px;max-width:400px;margin:0 auto;position:relative;border:none;margin-bottom:30px;
              @media(max-width:1000px){
                max-width:300px;height:410px;
              }
              .text{
                  position: absolute;width:100%;bottom: 0;background:$grey;left:0;text-align: left;display: flex;border:none;
                  label{
                    background: black;color: white;padding: 3%;text-align: center;line-height: 20px;
                  }
                  .text-inner{
                    padding: 4% 0 0 7%;
                    h5{
                        font-weight:bold;
                        span{
                            color:$blue;
                        }
                    }
                    i{
                        margin-right:15px;color:$blue;
                    }
                  }
              }

              &:first-child{
                background: url("../img/calender.jpg");background-size: cover;background-position: center center;
              }
              &:nth-child(2){
                background: url("../img/calender1.jpg");background-size: cover;background-position: center center;
              }
              &:nth-child(3){
                background: url("../img/calender2.jpg");background-size: cover;background-position: center center;
              }
              &:last-child{
                background: url("../img/calender3.jpg");background-size: cover;background-position: center center;
              }
          }
          button{
            border-radius: 5px;min-width: 162px;padding: 12px 31px 12px 31px; font-weight: 600;border: none;background: $blue;color: white;margin-top: 41px;position: relative;left: 30%;
       @media(max-width:767px){
         left:0;
       }
            a{
            text-decoration: none;color:white;
        }  
        }
}