

@font-face {
    font-family: 'akrobat';
    font-style: normal;
    font-weight: 100;
    src: url("./Akrobat/Akrobat-Regular.otf"),
        url("./Akrobat/Akrobat-Regular.ttf"),
        url("./Akrobat/Akrobat-Regular.woff"),
        url("./Akrobat/Akrobat-Regular.woff2"); /* IE9 Compat Modes */
  }




@import "./variables";
@import "./reset";
@import "./banner";
@import "./about";
@import "./welcome";
@import "./motiv";
@import "./stats";
@import "./calendar";
@import "./admin";
@import "./testimonials";
@import "./footer";
